[submodule "libretro-common"]
	path = libretro/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "libretro-super"]
	path = libretro/libretro-super
	url = https://github.com/libretro/libretro-super.git
[submodule "docs"]
	path = libretro/docs
	url = https://github.com/libretro/docs.git
[submodule "libretro/azahar"]
	path = libretro/azahar
	url = https://github.com/azahar-emu/azahar
[submodule "libretro/dynarmic"]
	path = libretro/dynarmic
	url = https://github.com/lioncash/dynarmic.git
[submodule "libretro/original-core-reference"]
	path = libretro/original-core-reference
	url = https://github.com/folium-app/Cytrus.git
[submodule "libretro/externals/openssl"]
	path = libretro/externals/openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_1_1-stable
[submodule "libretro/retroarch"]
	path = libretro/retroarch
	url = https://github.com/seayou2468-web/RetroArch-forked.git
